html,
body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

h2.hello-header {
    color: blue;
}

#table-div {
    margin-left: 25%;
    width: 50%;
}

#table-div table {
    border-collapse: collapse;
    width: 100%;
}

#table-div table,
th,
td {
    border: 1px solid black;
}

#table-div table td {
    padding-left: 1%;
}

table tr.table-content:hover {
    background-color: aqua;
    cursor: pointer;
}

table tr.table-content.selected:hover {
    background-color: crimson;
    cursor: pointer;
}

table tr.table-content:active {
    background-color: brown;
    cursor: pointer;
}

.selected {
    background-color: brown;
}

#game-div {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    /* height: 100%; */
}

#moving-symbol {
    margin: 0;
}